# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: </b>
* List popular languages for Data Science
* Data Science Tools and Ecosystem
* Commonly used Libraries for Data Science
* Convert Minutes To Hours
* List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Pandas
4. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Py Charm|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python
3+4 = 7

4*3 = 12

In [16]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Parshwa